@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-salmao: #EFA48B;
    --color-roxo: #685369;
    --color-bege: #ECD0B3;
    --color-branco: #F0F0F0;
    --color-preto: #303030;

    --font-inter: "Inter", sans-serif;
}

body {
    font-family: Inter;
}